.select-option {
  width: 100%;
  right: 0;
  border: none;
  outline: 0;
  border-bottom: 1px solid rgba(0,0,0,.42);
  padding-top: 3px;
  background-color: ghostwhite;
}
.cvNumber{
  background: 0 0;
  outline: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.42);
}
