<div style="padding-top: 150px">
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">Quên mật khẩu</h1>
                  <p class="mb-4">Hãy nhập lại email đăng kí tài khoản của bạn để lấy lại mật khẩu</p>
                </div>
                <div class="user">
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                           aria-describedby="emailHelp" placeholder="Email..." [(ngModel)]="email">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="examplePassword"
                           aria-describedby="emailHelp" placeholder="Nhập mật khẩu mới..." [(ngModel)]="password">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="exampleConfirmPass"
                           aria-describedby="emailHelp" placeholder="Nhập lại mật khẩu..."
                           [(ngModel)]="confirmPassword">
                  </div>
                  <a (click)="resetPassword()" class="btn btn-primary btn-user btn-block">
                    Bước tiếp theo
                  </a>
                </div>
                <hr>
                <div class="text-center">
                  <a class="small" routerLink="/register">Tạo tài khoản mới</a>
                </div>
                <div class="text-center">
                  <a class="small" routerLink="/login">Bạn đã có tài khoản? Đăng nhập</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
